@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #a9a4a433;
  font-family: "Poppins", sans-serif;
}
.container-width {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */
.nav-bar {
  background-color: blue;
}
.navigation {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.logo {
  width: 100px;
}
.logo > img {
  width: 100%;
}
.title {
  font-size: 25px;
  letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all 0.2s ease;
  }
  .logo > img {
    width: 140px;
    transition: all 0.2s ease;
  }
  .title {
    margin-left: 35px;
  }
}
/* main */
.main {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 200px;
  width: 200px;
  border-radius: 30px;
  transition: all 0.3s ease;
  border: 3px solid transparent;
  box-shadow: 0 20px 40px rgba(16, 104, 116, 0.1);
  gap: 15px;
}

.record-icon {
  width: 75px;
}
.record-icon > img {
  width: 100%;
}

.card:hover {
  background-color: #a9a4a433;
  transform: translateY(-10px);
  border: 2.5px solid rgb(16, 212, 206);
  outline: none;
}

.img-screen {
  width: 90px;
  height: 100px;
}

.recording-block {
  width: 50vw;
  margin: 20px auto;
  margin-top: 60px;
}

.recording-block .recording-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recording-block .recording-img {
  width: 440px;
  height: 248px;
  background: navy url(/img/wave.c34ebec5.svg) center no-repeat;
  background-size: contain;
  border-radius: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.recording-block .recording-right {
  margin-left: 50px;
}

.recording-block .count-down-num {
  font-size: 64px;
  line-height: 42px;
  color: navy;
  text-align: center;
  padding: 30px 60px;
  background: #fff no-repeat;
  background-size: 40px;
  border: 1px solid #fff;
  border-radius: 18px;
  font-family: digital-display;
}

.record-control-btns {
  display: flex;
  justify-content: space-evenly;
}

.record-btn {
  width: 65px;
  height: 65px;
  /* display: block; */
  box-shadow: 0px 20px 40px rgba(16, 104, 116, 0.2);
  border-radius: 50%;
  margin: 30px auto 0;
  border: none;
  background-color: navy;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.record-btn span {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: block;
  border-radius: 5px;
}

.pause-resume-word {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--mainText);
  margin-top: 8px;
}

.api_count {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.api_count > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.api_display_block {
  display: block;
}
.api_display_none {
  display: none;
}

/* .modal_container {
  display: none;
} */
.alert_box,
.show_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show_button {
  height: 55px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  line-height: 55px;
  background: #2980b9;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.show_button:hover {
  background: #2573a7;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  opacity: 1;
  pointer-events: auto;
}
.alert_box {
  padding: 30px;
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.97);
  transition: all 0.3s ease;
}
.alert_box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
/* .background{
opacity: 1;
pointer-events: auto;
} */
#check {
  display: none;
}
.alert_box .icon {
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #f23b26;
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}
.alert_box header {
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}
.alert_box p {
  font-size: 20px;
}
.alert_box .btns {
  margin-top: 20px;
}
.btns label {
  display: inline-flex;
  height: 55px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 55px;
  outline: none;
  margin: 0 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btns label:first-child {
  background: #2980b9;
}
.btns label:first-child:hover {
  background: #2573a7;
}
.btns label:last-child {
  background: #f23b26;
}
.btns label:last-child:hover {
  background: #d9210d;
}

.modal_container header {
  color: #87adbd;
  border-color: #c9dae1;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  width: 80px;
  height: 80px;
  border: 4px solid #c9dae1;
  border-radius: 50%;
  position: relative;
  box-sizing: content-box;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* padding: 20px 0px; */
  margin: 20px 0px;
}

.modal_quation {
  color: #595959;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 0 0 0.4em;
  padding: 0;
  display: block;
}

.record-stop {
  background-image: url(/img/stop.403dfe41.svg);
  background-size: 24px 26px;
  background-position: 22px;
}

.record-resume {
  background-image: url(/img/resume.2b54e234.svg);
  background-size: 24px 26px;
  background-position: 22px;
}

#video {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 300px;
  width: 400px;
}
